<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/style.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="container">

        <div class="inner-container">
            <div class="top-cards">
                <div class="card">
                    <h2>Orders</h2>
                    <div class="space"></div>
                    <p>
                        <%= ordersCount %>
                    </p>
                </div>

                <div class="space"></div>

                <div class="card">
                    <h2>Orders In Progress</h2>
                    <div class="space"></div>
                    <p>
                        <%= ordersInProgressCount %>
                    </p>
                </div>

                <div class="space"></div>


                <div class="card">
                    <h2>Open Stores</h2>
                    <div class="space"></div>
                    <p>
                        <%= opendStoresCount %>
                    </p>
                </div>

                <div class="space"></div>


                <div class="card">
                    <h2>Process Avg</h2>
                    <div class="space"></div>
                    <p>
                        <%= processAvg %>
                    </p>
                </div>


            </div>

            <div class="space"></div>

            <div class="leadboards">

                <h1>Additions</h1>
                <table>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>

                    <% Object.keys(topAdditions).forEach(function(item,index){ %>
                        <tr>
                            <td>
                                <%= item %>
                            </td>
                            <td>
                                <%= topAdditions[item] %>
                            </td>
                        </tr>

                        <% }) %>
                </table>



              
                <div class="space"></div>

                <h1>Orders By Hour</h1>
                <table>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>

                    <% Object.keys(orderByHour).forEach(function(item,index){ %>
                        <tr>
                            <td>
                                <%= item %>
                            </td>
                            <td>
                                <%= orderByHour[item] %>
                            </td>
                        </tr>

                        <% }) %>
                </table>


               
                <div class="space"></div>

                <h1>Process Time Leadboard</h1>
                <table>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>

                    <% Object.keys(topProcessTimes).forEach(function(item,index){ %>
                        <tr>
                            <td>
                                <%= item %>
                            </td>
                            <td>
                                <%= topProcessTimes[item] %>
                            </td>
                        </tr>

                        <% }) %>
                </table>


                <div class="space"></div>

                <h1>Distribution</h1>
                <table>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>

                    <% Object.keys(distribution).forEach(function(item,index){ %>
                        <tr>
                            <td>
                                <%= item %>
                            </td>
                            <td>
                                <%= distribution[item] %>
                            </td>
                        </tr>

                        <% }) %>
                </table>
                

            </div>
        </div>
    </div>




</body>

</html>